doctype html
html

  include includes/head.pug

  body(ng-app="cati", ng-controller="MainController as main")

    include ./includes/header.pug

    //- ALERTS
    div(
      uib-alert
      ng-repeat="alert in alerts",
      ng-class="'alert-' + (alert.type || 'warning')",
      close="closeAlert($index)"
    ) {{alert.msg}}

    //- INIT
    include ./includes/init.pug

    //- LOBBY
    include ./includes/lobby.pug

    //- GAME
    include ./includes/game.pug
