#site-header {
  .navbar {
    min-height: 40px;
    margin-bottom: 16px;
    .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navbar-brand {
      padding: 10px;
      height: 40px;
    }
    .round-timer {
      font-size: 22px;
      font-weight: bold;
      line-height: 40px;
      margin-right: 40px;
    }
    .volume-slider {
      display: inline-block;
      width: 60px;
      float: right;
      margin: 0 15px 0 4px;
    }
    .toggle-mute {
      display: inline-block;
      position: relative;
      width: 20px;
      font-size: 16px;
      float: right;
      text-decoration: none;
      cursor: pointer;
      font-family: 'FontAwesome';
      &::before {
        content: "\f028";
      }
      &.low::before {
        content: "\f027";
      }
      &.muted::before {
        content: "\f026";
      }
      &.muted::after {
        content: "\f00d";
        font-size: 9px;
        position: absolute;
        top: 12px;
        left: 23px;
      }
    }
  }
}
