#lobby {
    margin: 60px 0 260px;
    font-size: 125%;
    #games-table {
        margin: 20px 0;
        background: #f8f8f8;
        border-radius: 4px;
    }
}

#createGameForm {
    table .checkbox {
        padding-top: 0;
        min-height: 0;
    }
}