#lobby {
  padding-top: 100px;
  font-size: 125%;
  h2 {
    text-align: center;
  }
  .no-games {
    text-align: center;
  }
  #games-table {
    max-width: 600px;
    margin: 20px auto;
    background: #f8f8f8;
    border-radius: 4px;
    th.game,
    td.game {
      width: 70%;
    }
    th.players,
    td.players {
      text-align: right;
    }
    th.refresh, td.join {
      width:70px;
      text-align: center;
    }
  }
}

#createGameForm {
  table .checkbox {
    padding-top: 0;
    min-height: 0;
  }
}
