#play-area {
  @extend .clearfix;
  margin-top: 20px;
}

.prompt, {
  float: left;
  .card {
    margin-right: 15px;
    float: left;
  }
}

.play-slots {
  float: left;
}

.play-slot {
  @extend .card;
  float: left;
  height: 260px;
  width: 200px;
  margin-right: 15px;
  &.empty {
    box-shadow: none;
    border: 2px dashed #ddd;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    color: #d9d9d9;
    opacity: .4;
  }
  &.filled {
    @extend .card-white;
    background: url('../images/wcard_logo.png') 16px 230px no-repeat #FFF;
    background-size: 88px 16px;
  }
  &[ng-drop].drag-enter{
    background: $brand-success;
    &.filled {
      opacity: .4;
    }
  }
}

.answers {
  float: left;
}

.answer-slot {
  float: left;
  margin: 0 12px;
  .card {
    float: left;
    height: 260px;
    width: 200px;
    margin: 0 4px 16px;
    background: url('../images/wcard_logo.png') 16px 230px no-repeat #FFF;
    background-size: 88px 16px;
  }
  .czar-controls {
    text-align: center;
    clear: both;
  }
}

.czar-message,
.waiting-message {
  float: left;
  margin: 60px 0 20px 30px;
  max-width: 50%;
  font-size: 20px;
  font-weight: bold;
  color: #666;
  background: rgba(255,255,255,.4);
  padding: 18px 30px 20px;
  border-radius: 30px;
  .fa-star {
    color: $brand-danger;
  }
  .fa-clock-o {
    color: $brand-warning;
  }
}
