#game(
  ng-controller="GameController as game"
  ng-show="main.initialized && main.inGame"
)

  //- PLAY AREA
  include ./game/playArea.pug
  
  //- PLAYER HAND
  include ./game/hand.pug

  //- INFO PANEL
  include ./game/infoPanel.pug