head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title Cards Against The Internet
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='/styles/main.css')
  script.
    window.appSocketUrl = "#{appSocketUrl}";
  script(src='/socket.io/socket.io.js')
  script(src='/scripts/vendor.js')
  script(src='/scripts/app.js')
