#info(
  resizable
  r-directions="['top']"
  r-flex="true"
)
  .scoreboard
    table.table
      tr
        th.status
        th.name Name
        th.score Score
      tr(ng-repeat="p in game.playerList")
        td.status
          i.i.fa.fa-star(ng-show="p.czar")
          i.i.fa.fa-check(ng-show="p.answered")
        td.name(ng-class="{'self' : game.isSelf(p.id)}") {{ p.name }}
          i.i.fa.fa-trophy(ng-repeat="win in game.getNumber(p.wins) track by $index")
        td.score {{ p.score }}
  .console(ng-controller="ConsoleController as console")
    .messages(scroll-glue)
      .msg(ng-repeat="msg in console.messages track by $index" class="{{ msg.type }}")
        span(ng-if="msg.user") {{ msg.user }}: 
        | {{ msg.text }}
    form.chatForm(name="console.input" ng-submit="console.sendMessage()" method="post")
      input.chat-input.form-control(type="text" ng-model="console.input.msg" value="")
