html, body {
    height: 100%;
}

body {
    background: url('../images/retina_wood.png') #444;
}

#main {
    padding-top: 60px;
}

#alerts {
    margin: 20px 0;
}

#init {
    margin-top: 60px;
    .init-form {
        margin: 0 auto;
        max-width: 600px;
        text-align: center;
        .btn {
            outline: none;
        }
    }
}

.align-right {
    text-align: right;
}