// Glyphicons font path
$icon-font-path:                            "../fonts/";

$text-color:                                #444;

//=== Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      #ddd;
$navbar-inverse-bg:                         #1a1a1a !default;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;

// Inverted navbar links
$navbar-inverse-link-color:                 #ddd;
$navbar-inverse-link-hover-color:           #fff !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%) !default;
$navbar-inverse-link-disabled-color:        #2a2a2a !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color !default;
$navbar-inverse-brand-hover-color:          #fff !default;
$navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #2a2a2a !default;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        #2a2a2a !default;


// Sliders
@mixin rounded($radius: 2px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

$handleActiveColor: #ddd;
$handleHoverColor: #ddd;
$labelTextColor: #55637d;
$handleBgColor: #ddd;
$handleInnerColor: #ddd;
$handleDisabledColor: #d8e0f3;
$limitLabelTextColor: $labelTextColor;
$barFillColor: $handleBgColor;
$barDisabledFillColor: #8b91a2;
$barNormalColor: #666;

$ticksColor: $barNormalColor;
$selectedTicksColor: $barFillColor;
$ticksWidth: 10px;
$ticksHeight: 10px;
$ticksValuePosition: -30px;
$ticksLegendPosition: 24px;
$ticksValuePositionOnVertical: 24px;

$handleSize: 9px;
$handlePointerSize: 8px;
$bubblePadding: 1px 3px;
$barDimension: 3px;

$withLegendMargin: 40px;
